*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

body > main {
  max-width: 826px;
  margin: auto;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main > * {
  width: 100%;
  padding: 0;
}

form > fieldset {
  border: 0;
}

fieldset > legend {
  font-weight: bold;
}

form.album {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: 100px;
}

form.album > h1 {
  flex-grow: 1;
  margin: 0;
}

ld-media-preview {
  float: left;
}

button[is="ld-remover"] {
  display: none;
}

@media screen and (min-device-width: 1200px) {
  body > main {
    max-width: 1100px;
  }
}
