*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

body > main {
  max-width: 826px;
  margin: auto;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main > * {
  width: 100%;
  padding: 0;
}

form > fieldset {
  border: 0;
}

fieldset > legend {
  font-weight: bold;
}

form.album {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: 100px;
}

form.album > h1 {
  flex-grow: 1;
  margin: 0;
}

ld-media-preview {
  float: left;
}

button[is="ld-remover"] {
  display: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: black;
}

footer > * {
  max-width: 100%;
  max-height: 100%;
}

footer.fullscreen::before, footer.fullscreen::after {
  display: block;
  width: 100%;
  color: white;
  z-index: 1;
  position: fixed;
  bottom: 0;
  padding: 32px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

footer.fullscreen::before {
  content: attr(data-title);
  font-weight: bold;
  font-size: 1.2rem;
  z-index: 1;
  height: 120px;
  background: rgba(0, 0, 0, .7);
}

footer.fullscreen::after {
  content: attr(data-description);
}

footer.fullscreen.fade::before, footer.fullscreen.fade::after {
  opacity: 1;
}
